<!-- Bottom Navigation -->
<div class="fixed bottom-0 left-0 right-0 bg-white border-t px-6 py-4">
  <div class="flex justify-between items-center">
    <%= link_to root_path, class: "flex flex-col items-center" do %>
      <div class="w-12 h-12 rounded-full bg-[#C14F4F]"></div>
      <span class="text-xs mt-1 text-black">Home</span>
    <% end %>

    <div class="flex flex-col items-center">
      <div class="w-12 h-12 rounded-full bg-[#DB7C7C]"></div>
      <span class="text-xs mt-1 text-black">Location</span>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-12 h-12 rounded-full bg-[#FFC7C7]"></div>
      <span class="text-xs mt-1 text-black">People</span>
    </div>

    <div class="flex flex-col items-center">
      <%= link_to profile_path(current_profile, mode: current_profile.mode) do %>
        <div class="w-12 h-12 rounded-full bg-[#BDBDBD]"></div>
        <span class="text-xs mt-1 text-black">Profile</span>
      <% end %>
    </div>
  </div>
</div>
